.c-sidebar {
  grid-area: sidebar;
  border-right: 1px solid $soft-background;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 5rem 3rem auto;
  grid-template-areas:
    "title"
    "nameForm"
    "type"
    "typeContent"
  ;
  &__title {
    grid-area: title;
  }

  &__name-input {
    grid-area: nameForm
  }

  &__filters {
    grid-area: type;
  }

  &__filters-options {
    grid-area: typeContent;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
  }

  &__filters_option {
    width: 6rem;
    max-width: 6rem;
    padding: 5px;
  }

  &__buttons-container{

    display: flex;
    justify-content: center;
    align-items:stretch;
    height: 40px;
    flex-direction: column;

    &__button-full {
      margin-top: 0.5rem;
      margin-right: 0.8rem;
      color: #fff;
      background-color: #0d6efd;
      border-color: transparent;
      text-align: center;
      cursor: pointer;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      &:active{
        background-color: #0b4db1;
      }
    }
    &__button-empty {
      margin-top: 0.5rem;
      margin-right: 0.8rem;
      color: #fff;
      background-color: #0dc40d;
      border-color: transparent;
      text-align: center;
      cursor: pointer;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      &:active{
        background-color: #098809;
      }
    }
  }

}