@font-face {
  font-family: Poppins;
  src: url('./Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: PoppinsLight;
  src: url('./Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: PoppinsBold;
  src: url('./Poppins/Poppins-Bold.ttf');
}